* {
    margin: 0;
    /* Descontando do miolo */
    box-sizing: border-box;
}

body {
    background-color: #bbb;
}

.container-dos-blocos {
    max-width: 960px;
    margin: 0 auto;
    /* Um do lado do outro */
    display: flex;
    /* Respeita a largura cai para baixo */
    flex-wrap: wrap;
    
    
}

.bloco {
    /* Largura */
    width: 280px;
    /* Altura */
    height: 200px;
    margin: 20px;
    background-color: #fff;

}

.bloco:hover {
    border: 2px solid red;
}